
@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_LayoutKiosk.cshtml";
}

<h4>Event Detail</h4>
<div class="example">
    <div class="grid">
        <div class="row cells2">
            <div class="cell event-image-cell">
                <img src="~/Images/bg-login.jpg" class="event-detail-image">
            </div>
            <div class="cell event-detail-cell">
                <h5>About Event</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean luctus lectus sit amet odio ullamcorper malesuada dignissim justo gravida. Pellentesque sagittis, tellus id sagittis accumsan, augue velit pretium urna, ac interdum dui nibh et orci. Quisque dapibus elit ut metus varius ac bibendum sem luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis sagittis lorem. Praesent ac eros quam.</p>
                <h5>Venue</h5>
                <p>Praesent molestie bibendum consequat. Suspendisse a felis eu augue venenatis egestas nec ac lectus. Nam nec felis lorem. Maecenas luctus est et nulla cursus vestibulum. Curabitur suscipit adipiscing dui eget sollicitudin. Sed accumsan tincidunt enim, in feugiat ligula ornare et.</p>
            </div>
        </div>
    </div>
</div>

